
# BEGIN WordPress
# Рядки між `BEGIN WordPress` і `END WordPress` були створені автоматично.
# Вони можуть бути змінені тільки фільтрами WordPress.
# Всі зміни між цими позначками будуть перезаписані.

# END WordPress