.field-sets {
    display: flex;
    flex-wrap: wrap;
    .acf-field {
        box-sizing: border-box;
        position: relative;
        margin: 0;
        padding: 15px 12px;
        border-top: #eeeeee solid 1px;
        width: 33.33%;
        &.full {
            border: none;
            width: 100%;
        }
        label {
            display: block;
            font-weight: bold;
            margin: 0 0 3px;
            padding: 0;
        }
        input {
            height: 28px;
            width: 100%;
            padding: 3px 5px;
            margin: 0;
            font-size: 14px;
            line-height: 1.4;
        }
        textarea {
            height: 160px;
            width: 100%;
            padding: 3px 5px;
            margin: 0;
            font-size: 14px;
            line-height: 1.4;
        }
    }
    .tickets-list {
        padding: 0px;
        margin: 0px;
        list-style: none;
        display: flex;
        flex-direction: column;
        li {
            padding: 5px 0px;
            margin-bottom: 10px;
            border-bottom: 1px solid #eeeeee;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            button {
                background-color: #a00;
                border: none;
                border-radius: 5px;
                font-size: 14px;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}
.hr {
    width: 100%;
}
