@media(max-width: 1440px){
    .user-row {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .user-register-menu{
        left: 2rem;
    }

    .user-menu-inner .user-menu-list{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .lang-choose{
        width: 5rem;
    }

    .header .social-links{
        left: .5rem;
        li{
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
    }

    h1, .h1{
        font-size: 6rem;
    }

    h2, .h2{
        font-size: 3.6rem;
    }
    h3, .h3, h4, .h4{
        font-size: 2.2rem;
    }

    .main-wrap .main-title{
        margin-top: 10rem;
    }

    .calendar-column-sm{
        width: 38rem;
    }
    .calendar-column-lg{
        width: calc(100% - 38rem);
    }

    .calendar{
        padding: 2rem 1.5rem;
    }

    .calendar-week div, .calendar-day div{
        padding: .5rem;
    }

    .calendar-day-upper .current-date-label{
        height: 3.5rem;
    }

    .calendar-day .calendar-month-day.has-primary-event::before,
    .calendar-day .calendar-month-day.has-secondary-event::after{
        bottom: -2px;
        
    }

    .calendar-day .calendar-month-day.has-secondary-event.has-primary-event::before{
        left: 1.3rem;
    }

    .calendar-day .calendar-month-day.has-secondary-event.has-primary-event::after{
        right: 1.3rem;
    }

    .calendar-day .calendar-month-day.has-primary-event::before{
        left: 1.7rem;
    }

    .calendar-day .calendar-month-day.has-secondary-event::after{
        right: 1.7rem;
    }

    .calendar-title-row{
        padding: 2.5rem;
    }

    .calendar-filter-block {
        padding: 1rem 2rem 2rem;
        .h3{
            margin-bottom: 1rem;
        }
    }

    .calendar-event .calendar-event-main{
        padding-left: 4rem;
    }

    .calendar-event .calendar-event-title{
        height: auto;
        margin-top: .5rem;
    }

    .calendar-events-row{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .section-title {
        .title-block{
            padding-top: 2rem;
            padding-bottom: 6rem;
        } 
    }

    .block-with-text .btn, .block-with-text .btn-secondary{
        margin-top: 5rem;
    }

    .slider-centered-title{
        font-size: 2.2rem;
        max-height: 11.2rem;
        height: 11.2rem;
        margin-bottom: 4rem;
    }

    .slider-centered-person .slider-centered-person-info .slider-centered-person-name{
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    .full-height-block{
        left: 9rem;
    }

    .linked-block{
        padding: 3rem;
    }

    .person-card{
        padding: 3.5rem 3rem;
        .person-image{
            width: 10rem;
            height: 10rem;
            margin-right: 2rem;
        }
        .person-col{
            width: calc(100% - 12rem);
        }
    }

    .person-company img{
        max-width: 10rem;
    }

    .person-card.person-card-column{
        padding: 2.5rem 3rem;
    }

    .event-block{
        padding: 3rem 8rem 3rem 6rem;
        .event-block-location, .event-block-time{
            max-width: none;
        }
    }

    .simple-block{
        padding: 3rem 4rem 10rem 4rem;
        .btn-round{
            left: 4rem;
            bottom: 2rem;        
        }
    }

    .simple-block-with-links{
        padding-bottom: 4rem;
    }

    .slick-slide{
        .simple-block.simple-block-with-links{
            margin-top: 1rem;
        }
    }

    .news-block-slider-rows{
        .news-block > .news-block-title{
            max-height: 10.6rem;
            height: 10.6rem;
        }
    }

    .title-profile-block{
        padding-top: 5rem;
        padding-bottom: 5rem;
        position: relative;
        .title-description{
            margin-bottom: 0;
            margin-left: 15rem;
        }
        .person-card-xs{
            padding: 0;
            margin-top: 5rem;
            margin-left: 15rem;
        }
    }

    .section-negative-top{
        margin-top: 0;
        margin-bottom: 8rem;
    }

    .profile-logo{
        width: 12rem;
        height: 12rem;
        left: 2rem;
        position: absolute;
    }

    .section-column{
        .column.col-xxl-0{
            padding-left: 0;
            padding-right: 0;
        }
    }

    .column.col-xxl-0{
        max-width: 0;
        padding-left: 0;
        padding-right: 0;
    }
    
    .title-profile-block{
        .title-profile{
            min-height: 9rem;
            margin-left: 15rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    .after-title-block{
        padding-left: 17rem;
    }

    .slick-slide{
        .simple-block{
            margin-left: 0;
            margin-right: 0;
        }
    }

    .simple-block-title-row.hot::before{
        top: 3rem;
        right: 3rem;
    }
    
}