@media(max-width: 1024px){
    .lined-slider-controls{
        display: none;
    }

    .news-block-slider-wrap{
        margin-right: -2rem;
    }

    .news-block-row.news-block-slider .news-block{
        max-width: 28rem;
        min-width: 28rem;
        padding: calc(57% + 1.5rem) 1.5rem 1.5rem;
    }

    .news-block .news-block-image{
        padding-top: 56.4%;
        width: calc(100% - 3rem);
        transform: translateY(1.5rem);
    }

    .section-simple-blocks{
        .news-block{
            max-width: none;
            min-width: auto;
        }
    }

    .news-block-row-w{
        .news-block{
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            padding-top: 63%;
            padding-bottom: 1.5rem;
        }
    }

    .aside-amount-blocks{
        .news-block{
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    .calendar-column-lg{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 8.3rem;
            bottom: 0;
            width: 1px;
            left: calc(28% + 1.1rem);
            background-color: $border-color;
        }
    }

    .calendar-events-row{
        flex-direction: column;
        height: auto;
        padding-top: 5rem;
        position: relative;
    }

    .calendar-events-row .calendar-events-column{
        width: calc(100% - 2rem);
        height: auto;
        margin-bottom: 0;
        margin-top: 0;
        &::before{
            display: none;
        }
    }

    .footer-text{
        &, a, span{
            font-size: 1.6rem;
        }
    }

    .slider-centered {
        width: 100%;
    }

    .slider-centered-controls{
        display: none;
    }

    .title-block-inner{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .btn-play .icon{
        margin-left: 0;
    }

    .btns-simple-blocks{
        margin-top: 4rem;
    }

    .simple-block-lg .list-without-type li{
        width: calc(50% - 14rem);
    }

    .image-slider-controls{
        display: block;
    }
}