@media(max-width: 768px){
    .section-simple-blocks .row, .section-content-aside .row, .section-article .row, .section-column .row{
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .section-simple-blocks .column, .section-content-aside .column, .section-article .column, .section-column .column{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .section-top-bottom {
        margin-top: 4rem;
        margin-bottom: 6rem;
    }

    .calendar-title .current-month,
    .calendar-title .current-weekday,
    .calendar-title .current-year{
        font-size: 1.8rem;
    }

    .provider-block .wrap{
        padding-right: 0;
    }

    .provider-slider{
        padding-top: 5rem;
        padding-bottom: 5rem;
        .slick-list{
            margin-left: -2rem;
        }
    }

    .provider-item{
        width: 10rem !important;
        height: auto;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .footer{
        padding-top: 8rem;
        .logo{
            img{
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 4rem;
            }
        }
    }

    .footer-text{
        text-align: center;
        margin-bottom: 6rem;
    }

    .copyright{
        font-size: 1.2rem;
    }

    .page-section{
        margin-top: 4rem;
        margin-bottom: 8rem;
    }

    .section-title {
        .title-block{
            padding-top: 1rem;
            padding-bottom: 4rem;
        } 
        .title{
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }

    .slider-centered-item{
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .slider-centered-item .slider-centered-item-inner::before{
        left: -2rem;
    }

    .block-with-text p{
        max-width: 100%;
    }

    .section-outine-blocks {
        margin-top: 4rem;
        margin-bottom: 5rem;
    }

    .person-card{
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: calc(100% - 2rem);
    }

    .person-card .person-image{
        width: 9rem;
        height: 9rem;
        border-radius: 2.5rem;
    } 

    .person-card .person-col {
        width: calc(100% - 11rem);
    }

    .person-card .person-subrow .text{
        font-size: 1.4rem;
    }

    .person-card-mod .bio-link{
        margin-top: 2rem;
        .link{
            width: 1.8rem;
            height: 1.8rem;
        }
        .text{
            font-size: 1.4rem;
        }
    }

    .small-carousel{
        margin-left: 0;
        margin-right: 0;
    }

    .small-carousel-controls{
        display: none;
    }

    .section-mob-no-wrap{
        .wrap{
            padding-left: 0;
            padding-right: 0;
        }
    }

    .small-carousel-container{
        padding-left: 1rem;
    }
    
    .small-carousel-item{
        width: 23rem!important;
    }

    .small-carousel-image{
        margin-left: .5rem;
        margin-right: .5rem;
        height: 14rem;
    }

    .small-carousel-title{
        margin: 1rem .5rem;
    }

    .not-cover-md{
        position: static;
    }

    .img-fixed-width{
        margin-bottom: 2rem;
        &.has-border{
            border: none;
        }
    }

    .gallery-item-lg, .gallery-item-sm{
        margin-bottom: 2rem;
    }

    .gallery-item-lg {
        height: 35rem;
    }

    .gallery-item-sm{
        height: 10rem;
    }

    .last-item-inner {
        .number-lg{
            font-size: 3rem;
            line-height: 1.5;
        }
        .text{
            font-size: 1.8rem;
        }
    }

    .aside-amount-blocks{
        .simple-block{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    .simple-block{
        padding: 3rem 2rem 8rem 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: calc(100% - 2rem);
        .block-img{
            width: 3.5rem;
        }
        .block-img + .h3,
        .block-img + .h4{
            margin-top: 1rem;
        }
        .h3, .h4{
            margin-top: 0rem;
            margin-bottom: 1rem;
        }
        .btn-round{
            left: 2rem;
        }
    }

    .simple-block-with-links{
        padding-bottom: 3rem;
    }

    .list-without-type{
        li{
            margin-bottom: .8rem;
        }
    }

    .simple-block-with-links .link{
        font-size: 1.4rem;
    }

    .btn-round{
        width: 5rem;
        height: 5rem;
        .icon{
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    .btns-simple-blocks{
        margin-top: 2rem;
    }

    .quote-in-row{
        margin-bottom: 3rem;
        padding: 2rem 4rem 4rem;
        &::before{
            width: 12rem;
        }
        .quote-inner::before{
            width: 9rem;
            height: 9rem;
            left: -1rem;
            top: -12rem;
        }
        .quote-title {
            margin-bottom: 4rem;
        }
        .quote-person .quote-person-info .quote-person-name{
            margin-bottom: 1rem;
            font-size: 2rem;
        }
    }

    .outline-block{
        margin-bottom: 2rem;
    }

    .section-report-subtitle .subtitle {
        font-size: 1.8rem;
    }

    .section-title .btn{
        margin-top: 4rem;
    }

    .large-title{
        font-size: 7rem;
    }

    .mtd{
        flex-wrap: wrap;
        .doughnut-upper,
        .chart-legend{
            width: 100%;
        }
    }

    .outline-block .block-img{
        margin-bottom: 1rem;
    }

    .section-report-subtitle{
        margin-top: 6rem;
        margin-bottom: 4rem;
    }

    .section-report-subtitle .h1{
        margin-bottom: 2rem;
    }

    .section-bgimage{
        padding-top: 4rem;
        padding-bottom: 4rem;
        .outline-block.center-inner{
            margin-top: 2rem;
            margin-bottom: 2rem;
            .large-value{
                font-size: 4rem;
            }
            .block-title{
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }

    .content-in-bgimage{
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    .world-map, .ukraine-map{
        width: 100%;
    }

    .aside-article .btns-aside{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .quote{
        margin-top: 7rem;
        padding: 4rem 6rem;
        .quote-title{
            margin-top: 2rem;
            margin-bottom: 6rem;
        }
        .quote-inner{
            &::before{
                width: 11rem;
                height: 11rem;
                left: -2rem;
                top: -13rem;
            }
        }
    }

    .imagein-block-with-text {
        padding-top: 1rem;
        padding-bottom: 1rem;
        .h3{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    .search-label{
        width: 80%;
        padding: 1.5rem 2rem;
    }

    .search-form-inner{
        .btn{
            margin-top: 0;
            min-width: 16rem;
            display: flex;
            justify-content: center;
            .icon{
                width: 2rem;
                height: 2rem;
            }
            .text{
                margin-left: 1.5rem;
                width: calc(100% - 3.5rem);
            }
        }
    }

    .section-negative-top{
        margin-bottom: 5rem;
    }

    .column-reverse-md{
        flex-direction: column-reverse;
        align-items: normal;
    }

    .row-top-bottom{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .linked-block{
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: calc(100% - 2rem);
    }

    .imagein-block-with-btn{
        padding: 1rem 2rem 2rem;
        .btn-round{
            margin-left: 0;
            margin-right: 0;
        }
    }

    .simple-block-title-row.hot::before{
        top: 2rem;
        right: 1.5rem;
        width: 3rem;
        background-size: 3rem 3rem;
        font-size: 1.4rem;
    }

    .person-card-sm-row{
        margin-top: 3rem;
    }

    .form-respond-submit-row{
        margin-top: 2rem;
    }

    .form-respond{
        margin-top: 6rem;
    }

    .single-page-title .title{
        padding-left: 0;
        padding-right: 0;
    }
    .section-padding-top-bottom {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}