@media(max-width: 1200px){
    .body-overflow-mode.body-overflow-mode-white{
        .body-wrap{
            &::after{
                background-color: #fff;
            }
        }
    }
    .header{
        .main-menu-nav, .user-info, .lang-choose, .user-menu-inner{
            opacity: 0;
            visibility: hidden;
        }
        .after-link{
            display: none;
        }
        .user-menu-inner .user-menu-list{
            opacity: 0;
            visibility: hidden;
            transform: translateY(-20%);
            transition: all .2s ease-in-out;
            li a{
                visibility: inherit;
            }
        }
        .main-menu-nav, .search-menu{
            transition: all .2s ease-in-out;
            li a{
                visibility: inherit;
            }
        }
        &.open-menu{
            .main-menu-nav, .user-info, .lang-choose, .user-menu-inner{
                opacity: 1;
                visibility: visible;
            }
            .lang-choose li:not(.current-lang){
                transform: none;
                opacity: 1;
                visibility: visible;
                position: static;
            }
            .user-menu{
                top: 0;
            }
            .main-menu-nav .main-menu li{
                .submenu{
                    transition: none;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &.open-menu-user{
            .user-info{
                &::after{
                    transform: rotate(180deg);
                }
            }
            .user-menu-inner .user-menu-list{
                opacity: 1;
                visibility: visible;
                transform: translateY(0%);
            }
            .main-menu-nav{
                padding-top: 21rem;
            }
            .search-menu{
                top: 15rem;
            }
        }
    }


    .main-menu-nav{
        position: absolute;
        left: 0;
        right: 0;
        padding-top: 7rem;
        top: 14.5rem;
        height: calc(100vh - 14.5rem);
        overflow: auto;
        padding-bottom: 5rem;
        min-height: -webkit-fill-available;
        -webkit-overflow-scrolling: touch;
    }

    .main-menu{
        display: flex;
        flex-direction: column;
    }

    .main-menu-nav .main-menu li {
        a{
            font-size: 2.4rem;
            font-weight: 400;
            padding-left: 0;
            padding-right: 0;
        }
        .submenu{
            position: relative;
            top: 0;
            left: 0;
            margin-top: 0;
            margin-left: 0;
            li{
                a{
                    font-size: 1.4rem;
                    padding-top: .8rem;
                    padding-bottom: .8rem;
                }
            }
        }
    }

    .search-menu{
        left: 0;
        top: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        .search-form{
            max-width: none;
        }
    }

    .current-main-menu{
        display: none;
    }

    .user-menu{
        margin-left: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: -1px;
        border-bottom: 1px solid $border-color;
        .user-row{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            display: block;   
        }
        .user-info{
            top: 7.5rem;
            height: 7rem;
            background-color: #fff;
            position: absolute;
            width: calc(100% - 142px);
            left: 0;
            padding-left: 2rem;
            border-bottom: 1px solid $border-color;
            .icon{
                margin-right: 0;
            }
            .name{
                display: block;
            }
            &::after{
                content: '';
                position: absolute;
                right: 2rem;
                display: block;
                background-image: url(../../img/icons/colored-icons/secondary/down-arrow.svg);
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                width: 1.6rem;
                height: 1.6rem;
            }
        }
        .btn-menu{
            position: absolute;
            left: auto;
            right: 2rem;
            top: 3rem;
        }
    }
    .header{
        &:not(.logged){
            .user-row{
                .user-info{
                    display: none;
                }
            }
            .user-menu-inner{
                top: 0;
                z-index: 5;
                width: calc(100% - 14.2rem);
            }        
        }
    }

    .user-register-menu{
        background-color: #fff;
        left: 0;
        right: 0;
        top: 7.5rem;
        z-index: 5;
        border-bottom: 1px solid $border-color;
        .btn-enter{
            width: 100%;
            height: 7rem;
            margin-bottom: 0;
            padding-left: 2rem;
            .icon{
                width: 2.5rem;
                height: 2.5rem;
            }
            span{
                font-size: 1.4rem;
            }
        }
        .btn-register{
            display: none;
        }
    }

    .user-menu-inner{
        .user-menu-list{
            padding-top: 2rem;
            padding-bottom: 1rem;
            background-color: #fff;
            left: -2rem;
            right: -2rem;
            margin-top: 14.5rem;
            padding-left: 2rem;
            padding-right: 2rem;
            width: 100%;
            li{
                a{
                    visibility: inherit;
                }
            }
        }
    }

    .lang-choose{
        position: absolute;
        right: 0;
        top: 7.5rem;
        width: auto;
        padding-top: 0;
        border-bottom: 1px solid $border-color;
        &::after{
            display: none;
        }
        .lang-list{
            position: relative;
            display: flex;
            li{
                margin-bottom: 0;
                a{
                    width: 7rem;
                    height: 7rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    visibility: inherit;
                }
                &:not(:last-child){
                    border-right: 1px solid $border-color;
                }
                &.current-lang{
                    &::after{
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -.1rem;
                        left: 0;
                        right: 0;
                        height: .2rem;
                        width: 100%;
                        background-color: $primary;
                    }
                }
            }
        }
    }

    .main-menu-square, .user-menu-inner{
        min-height: auto;
        height: auto;
    }

    .logo {
        margin-top: 1.7rem;
        margin-bottom: 1.7rem;
        img{
            height: 4rem;
        }
    }

    .header{
        .social-links{
            display: none;
        }
    }

    .lang-helper{
        padding: 1rem 2rem;
        img{
            width: 4rem;
        }
    }
    
    .main-section{
        margin-top: -7.5rem;
    }

    h1, .h1{
        font-size: 5rem;
    }

    .main-wrap .main-title{
        .first-row{
            font-size: 5.4rem;
            line-height: 1.3em;
        }
        .secondary-row{
            font-size: 5rem;
            line-height: 1.3em;
        }
    }

    .btn, .btn-secondary{
        padding: 2.6rem;
        min-height: auto;
        .icon{
            width: 2.6rem;
            height: 2.6rem;
        }
    }

    .main-wrap .main-title{
        margin-top: 7rem;
    }

   .header-report{
       align-items: center;
       transition: all .4s ease-in-out;
       &:before{
           right: 0;
           width: 100%;
           z-index: 3;
       }
       .logo{
           position: relative;
           z-index: 3;
       }
        .btn-menu{
            display: block;
            z-index: 3;
        }
        .report-nav{
            position: fixed;
            top: 5.4rem;
            left: 0;
            right: 0;
            height: calc(100vh - 5.4rem);
            padding-top: 4rem;
            display: block;
            align-items: flex-start;
            justify-content: center;
            overflow: auto;
            opacity: 0;
            visibility: hidden;
            transition: all .4s ease-in-out;
        }
        .report-menu{
            flex-direction: column;
            margin-bottom: 6rem;
            li{
                a{
                    padding-top: 1.5rem;
                    padding-bottom: 1.5rem;
                    max-width: none;
                    font-size: 1.6rem;
                }
            }
        }
        .btn-menu{
            margin-right: 2rem;
        }
        &.open-menu{
            background-color: #fff;
            .report-nav{
                opacity: 1;
                visibility: visible;
            }
        }
        &.header-report-sm{
            .logo{
                margin-top: .7rem;
                margin-bottom: .7rem;
            }
        }
   }

    .news-block-slider-rows{
        .news-block-mod {
            padding-top: 23%;
        }
    }

    .additional-menu{
        display: none;
    }
}