
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 34, 64, .95);
    opacity: 0;
    visibility: hidden;
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    max-height: 100%;
    overflow-y: auto;
    &.modal-open{
        opacity: 1;
        visibility: visible;
    }
}

.modal-close{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    top: 5rem;
    right: 8rem;
    z-index: 20;
    .icon{
        width: 2rem;
        height: 2rem;
        fill: rgba(#fff, .5);
    }
}

.modal-video-inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    .video{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}


/*GALLERY CAROUSEL*/
.modal-dialog-center{
    position: relative;
    background-color: #fff;
    max-width: 70%;
    margin: 5rem auto;
    padding: 4rem;
}

.main-gallery{
    .main-gallery-item{
        display: flex!important;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        height: 60rem;
        width: 100%!important;
        img{
            max-height: 100%;
            width: auto;
        }
    }
}

.gallery-carousel{
    margin-top: 3rem;
    margin-left: -.8rem;
    margin-right: -.8rem;
}

.gallery-carousel-item{
    width: 10rem!important;
    height: 10rem;
    margin-left: .5rem;
    margin-right: .5rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &::before, &::after{
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
    }
    &::before{
        border: 4px solid #fff;
    }
    &::after{
        border: 2px solid transparent;
    }
    .slick-current &{
        &::after{
            border-color: $primary;
        }
    }
}

.gallery-controls{
    .icon{
        width: 3rem;
        height: 3rem;
    }
    .btn-control{
        padding: .5rem;
        position: absolute;
        top: 0;
        bottom: 0;
        transition: all .3s ease-in-out;
        .icon{
            fill: $dark-grey;
            margin-bottom: 12rem;
            transition: all .3s ease-in-out;
        }
        &.prev{
            left: 0;
        }
        &.next{
            right: 0;
        }
        .desktop &{
            &:hover{
                background-color: $primary;
                .icon{
                    fill: #fff;
                }
            }
        }
    }
}

.modal-dialog-header{
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid $border-color;
}

.modal-dialog-body{
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 3rem;
}