.header-report{
    justify-content: space-between;
    // position: fixed;
    // width: 100%;
    // & + .main .main-section{
    //     margin-top: 0;
    // }

    position: fixed;
    top: 0;
    width: 100%;
    &::before{
        content: '';
        position: absolute;
        width: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #fff;
        z-index: -1;
        transition: all 1.4s cubic-bezier(0.215, 0.61, 0.355, 1);;
    }
    .logo, .logo img{
        transition: all .3s ease-in-out;
    }
    .btn-menu{
        display: none;
    }
    &.header-report-sm{
        .logo{
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            img{
                height: 4rem;
            }
        }
        &::before{
            width: 100%;
        }
    }
}

.header-report + .main .main-section{
    margin-top: 0;
}

.report-nav{
    background-color: $primary;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: calc((100% - 182.4rem) / 2);
}

.report-menu{
    display: flex;
    align-items: center;
    margin-left: 0;
    li{
        margin-bottom: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        &::before{
            display: none;
        }
        a{
            display: block;
            max-width: 16rem;
            font-size: 1.4rem;
            text-decoration: none;
            color: #fff;
            text-align: center;
            padding-left: 2rem;
            padding-right: 2rem;
            line-height: 1.5;
        }
    }
}

.quote-in-row{
    margin-left: 0;
    padding-left: 15rem;
    padding-right: 15rem;
    .quote-inner::before {
        left: -12rem;
    }
}

.outline-block .block-img{
    margin-bottom: 2rem;
}

.section-report-subtitle{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    .h1{
        margin-bottom: 3rem;
    }
    .subtitle{
        font-size: 2.4rem;
    }
}

.t-uppercase{
    text-transform: uppercase;
}

.block-title-in-section{
    text-align: center;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    .subtitle{
        font-size: 2.4rem;
        font-weight: 700;
        color: $secondary;
    }
}

.charts {
    position: relative;
}
  
.mtd {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    .doughnut-upper{
        width: 50%;
    }
    .chart-legend{
        width: 50%;
        .doughnutalt-legend{
            li{
                &::before{
                    display: none;
                }
            }
        }
    }
}
  
.doughnut {
    width: 100%;
    height: 100%;
}
  
ul.doughnut-legend {
    margin-left: 0;
    height: 40px;
}
  
.chart-legend {
    margin-top: 40px;
}
  
.chart-legend li {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 20px;
}
  
.chart-legend li span {
    display: inline-block;
    position: relative;
    width: 26px;
    height: 22px;
    top: 4px;
    margin-right: 8px;
}
  
.chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: none;
    color: #505050;
    font-size: 40px;
    padding: 3px;
}
  
.chartjs-tooltip.below {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
  
.chartjs-tooltip.below:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: 0 8px 8px 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    z-index: 99;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
  
.chartjs-tooltip.above {
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}
  
.chartjs-tooltip.above:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: 8px 8px 0 8px;
    bottom: 1em;
    content: "";
    display: block;
    left: 50%;
    top: 100%;
    position: absolute;
    z-index: 99;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.doughnut-upper{
    position: relative;
    .doughnut-all{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 10rem;
        font-weight: 700;
        color: $primary;
    }
}

.simple-block-slider-upper{
  position: relative;
  .simple-block-slider-controls{
    right: 0;
  }
}

.simple-block-slider{
    .slick-list{
        margin-left: -2rem;
        margin-right: -2rem;
    }
    .slick-track{
        display: flex;
    }
    .slick-slide{
        align-self: stretch;
        margin-left: 2rem;
        margin-right: 2rem;
        height: inherit !important;
        & > div{
            height: 100%;
        }
    }
}

.outline-block{
    .large-value{
        font-size: 7rem;
        font-weight: 700;
        color: $secondary;
    }
}

.outline-block.center-inner{
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    a, img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .h3, .h4{
        text-align: center;
        a{
            text-decoration: none;
        }
    }
}

.news-block-slider-rows{
    .slick-track .slick-slide{
        height: auto;
        display: block;
    }
}

.news-block-row .slick-track .slick-slide.slick-slide:not(.slick-active) + .slick-active .news-block-mod:not(:first-child){
    border-left: none;
}

.news-block-slider-rows .slick-track .slick-slide > div{
    &:nth-child(2n){
        transform: translateY(-3px);
        .news-block-mod{
            border-top: none;
        }
    }
}

.news-block-mod{
    padding-top: 17%;
    .desktop & {
        &:hover .news-block-image{
            transform: translateY(3rem);
        }
    }
}

.image-slider-wrap{
    position: relative;
    .image-slider-controls{
        position: absolute;
        top: auto;
        right: 3rem;
        bottom: 3rem;
        z-index: 3;
        background-color: #fff;
    }
}

.world-map, .ukraine-map{
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    .point{
        circle{
            fill: $primary;
        }
    }
    .text{
        font-size: 1.6rem;
        font-weight: 700;
    }
}

.world-map{
    .a,
    .c {
        fill: #fff;
        stroke: rgba(#003c71, .5);
    }
    
    .b {
        clip-path: url(#a);
    }
    
    .c {
        stroke-linejoin: round;
        stroke-width: 0.907px;
        fill-rule: evenodd;
    }
}

.ukraine-map{
    .a,
    .c,
    .d {
        fill: #fff;
    }
    
    .a {
        stroke: #707070;
    }
    
    .b {
        clip-path: url(#a);
    }
    
    .c,
    .d {
        stroke: rgba(#003c71, .5);
        stroke-linecap: round;
        stroke-linejoin: round;
    }
    
    .c,
    .e {
        fill-rule: evenodd;
    }
    
    .e {
        fill: none;
    }
}

.t-bold{
    font-weight: 700;
}

.section-bgimage{
    position: relative;
    overflow: hidden;
    padding-top: 6rem;
    padding-bottom: 6rem;
    .wrap{
        position: relative;
        z-index: 3;
    }
    .h2, .h3, .h4,
    .large-value{
        color: #fff;
    }
    .icon{
        fill: #fff;
        width: 4.5rem;
        height: 4.5rem;
    }
    .bg-image{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 34, 64, .2);
            z-index: 2;
        }
    }
}

.content-in-bgimage{
    max-width: 107rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24rem;
    padding-bottom: 30rem;
    .h1{
        max-width: 70rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: #fff;
        span{
            font-size: 5rem;
        }
    }
    p{
        color: #fff;
        text-align: center;
        font-size: 2.4rem;
    }
}

.content-block-center{
    text-align: center;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

.wrap-list{
    max-width: 137rem;
    .h3, .h4, .h5, .h6{
        color: $dark;
    }
}

.list-primary{
    li{
        &::before{
            background-color: $primary;
        }
    }
}

.section-full-height{
    height: 100vh;
    min-height: 30rem;
    max-height: 100rem;
    display: flex;
    justify-content: center;
    .wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .full-height-title{
        text-align: center;
        color: #fff;
    }
}

.map-list-mob{
    display: none;
}







