.section-top-bottom {
    margin-top: 8rem;
    margin-bottom: 10rem;
}

.section-padding-top-bottom {
    padding-top: 6rem;
    padding-bottom: 8rem;
}

.section-simple-blocks,
.section-content-aside,
.section-article,
.section-column {
    .row {
        margin-left: -2rem;
        margin-right: -2rem;
    }
    .column {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.simple-block {
    position: relative;
    border: 1px solid $border-color;
    padding: 4rem 11rem 16rem 6rem;
    transition: all 0.3s ease-in-out;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: calc(100% - 4rem);
    .block-icon {
        width: 5rem;
        height: 5rem;
        fill: $secondary;
        margin-bottom: 0.5rem;
    }
    .block-img {
        width: 5rem;
        height: auto;
        margin-bottom: 0.5rem;
    }

    .block-title {
        &,
        a {
            text-decoration: none;
            color: $secondary;
        }
    }
    .btn-round {
        position: absolute;
        left: 6rem;
        bottom: 6rem;
    }
    .desktop & {
        &:not(.simple-block-with-links) {
            &:hover {
                border-color: $primary;
            }
        }
    }
    &-lg {
        .list-without-type {
            display: flex;
            flex-wrap: wrap;
            margin-left: -7rem;
            margin-right: -7rem;
            li {
                width: calc(33.3333% - 14rem);
                margin-left: 7rem;
                margin-right: 7rem;
            }
        }
    }
}

.simple-block-title-row {
    .block-title {
        &,
        a {
            display: -webkit-box;
            max-height: 3.3rem;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            -webkit-line-clamp: 1;
            max-width: calc(100% - 4rem);
        }
    }
    .simple-block-date {
        display: block;
        margin-bottom: 2rem;
    }
    &.hot {
        &::before {
            content: "hot";
            position: absolute;
            display: block;
            width: 3.5rem;
            height: 3rem;
            padding-top: 4rem;
            background-image: url("../../img/icons/colored-icons/primary/fire.svg");
            background-size: 3.5rem 3.5rem;
            background-position: top center;
            background-repeat: no-repeat;
            text-align: center;
            color: #ff6079;
            top: 6rem;
            right: 5rem;
            font-size: 1.8rem;
            font-weight: 700;
        }
    }
}

.simple-block-with-links {
    padding-bottom: 8rem;
    .block-icon {
        fill: $primary;
    }
    .link {
        color: $secondary;
        font-size: 1.4rem;
        line-height: 1.6em;
        font-weight: 600;
        &.all {
            color: $primary;
        }
    }
}

.inner-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
}

/*EVENT BLOCKS*/
.section-events-blocks {
    .event-block {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.event-block {
    position: relative;
    border: 1px solid $border-color;
    padding: 4rem 16rem 4rem 11rem;
    height: calc(100% - 4rem);
    .event-block-title {
        &,
        a {
            text-decoration: none;
            color: $dark;
        }
    }
    .event-block-location {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        max-width: 60%;
        .icon {
            width: 1.8rem;
            height: 1.8rem;
            fill: $dark-grey;
            margin-right: 1rem;
        }
        .location-text {
            font-size: 1.2rem;
            line-height: 1.5rem;
            display: block;
            width: calc(100% - 3rem);
            color: $dark-grey;
        }
    }
    .event-block-time {
        display: block;
        margin-top: 3rem;
        font-size: 2.4rem;
        font-weight: 700;
        max-width: 60%;
        line-height: 1.5;
    }
    &.archive-event {
        .tag {
            background-color: $dark-grey;
        }
        .event-block-title,
        .event-block-title a,
        .event-block-time {
            color: $dark-grey;
        }
    }
    .event-price {
        position: absolute;
        right: 5rem;
        bottom: 2rem;
    }
}

.info-row {
    display: flex;
    align-items: center;
    margin-left: -1rem;
    margin-right: -1rem;
    .tag,
    .secondary-text {
        display: block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.tag {
    color: #fff;
    border-radius: 5px;
    padding: 0.4rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

/*PAGINATION*/
.pagination-list {
    margin-top: 6rem;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .pagination-item {
        &::before {
            display: none;
        }
        &.pagination-item-arrow {
            a {
                margin-left: 4rem;
                margin-right: 4rem;
            }
        }
        &:not(:first-child):not(:last-child):not(:nth-child(2)) {
            a {
                border-left: none;
            }
        }
        &.active {
            a {
                color: $primary;
                &::after {
                    content: "";
                    position: absolute;
                    top: -1px;
                    right: -1px;
                    bottom: -1px;
                    left: -1px;
                    border: 1px solid $primary;
                }
            }
        }
        &.disable {
            a {
                pointer-events: none;
                .icon {
                    fill: $grey;
                }
            }
        }
        a {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5.5rem;
            height: 5.5rem;
            font-size: 1.8rem;
            font-weight: 600;
            border: 1px solid $border-color;
            text-decoration: none;
            color: $dark;
            transition: all 0.3s ease-in-out;
            .desktop & {
                &:hover {
                    color: $primary;
                }
            }
            .icon {
                width: 2rem;
                height: 2rem;
                fill: $secondary;
            }
        }
    }
}

/*OUTLINE BLOCKS*/
.section-outine-blocks {
    margin-top: 14rem;
    margin-bottom: 14rem;
}

.outline-block {
    margin-top: 0;
    margin-bottom: 3rem;
    padding-right: 11rem;
    .block-icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: $secondary;
    }
    .block-img {
        display: block;
        width: 3.5rem;
        height: auto;
    }
    .btn,
    .btn-secondary {
        margin-top: 6rem;
    }
}

.outline-block-title {
    &,
    a {
        text-decoration: none;
    }
}

/*CONTENT*/

.section-content-aside {
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.main-content {
    padding: 7rem 14rem 10rem;
    border: 1px solid $border-color;
    p {
        font-style: italic;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

.wrap-content {
    padding: 10rem 15rem;
}

.content {
    padding-bottom: 10rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $secondary;
    }
    p {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}
.content-block {
    margin-top: 4rem;
    margin-bottom: 4rem;
    max-width: 76rem;
}

/*PERSON CARD*/
.person-card-sm-row {
    margin-top: 5rem;
}

.person-card {
    border: 1px solid $border-color;
    padding: 4.5rem 4rem;
    display: flex;
    align-items: flex-start;
    height: calc(100% - 4rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
    .person-image {
        width: 12rem;
        height: 12rem;
        border-radius: 3.5rem;
        position: relative;
        overflow: hidden;
        margin-right: 4rem;
    }
    .person-col {
        width: calc(100% - 16rem);
    }
    .person-title {
        color: $secondary;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
    .person-subrow {
        display: flex;
        span {
            display: flex;
            align-items: center;
            &:not(:last-child) {
                &::after {
                    content: "";
                    display: block;
                    width: 0.7rem;
                    height: 0.7rem;
                    border-radius: 50%;
                    background-color: $grey;
                    margin-left: 0.4rem;
                    margin-right: 0.4rem;
                }
            }
        }
    }
    .person-contacts {
        a {
            display: block;
            color: $dark;
            text-decoration: none;
            font-size: 1.4rem;
            margin-top: 0.6rem;
            margin-bottom: 0.6rem;
        }
    }
    .person-socials {
        display: flex;
        align-items: center;
        margin-top: 3rem;
        margin-left: -1.8rem;
        margin-right: -1.8rem;
        a {
            margin-left: 1.8rem;
            margin-right: 1.8rem;
            text-decoration: none;
            .icon {
                width: 1.5rem;
                height: 1.5rem;
                fill: $dark-grey;
            }
        }
    }
}

.person-company {
    img {
        display: block;
        margin-top: 1.5rem;
        max-width: 12rem;
        height: auto;
    }
}

.person-card-sm {
    border: none;
    padding: 0;
    .person-image {
        width: 11rem;
        height: 11rem;
    }
    .person-subrow {
        .secondary-text {
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
        }
    }
    .person-contacts a {
        color: $secondary;
    }
    .person-socials {
        margin-top: 1.5rem;
    }
}

.person-card-xs {
    border: none;
    padding: 0;
    .person-image {
        width: 8rem;
        height: 8rem;
        border-radius: 27px;
    }
    .person-subrow {
        .secondary-text {
            margin-top: 0.8rem;
            margin-bottom: 0.8rem;
        }
    }
}

.person-card.person-card-mod {
    .text {
        display: block;
        margin-top: 0.8rem;
        margin-bottom: 1.2rem;
    }
    .person-contacts {
        a {
            color: $secondary;
        }
    }
    .bio-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-top: 3rem;
        .icon {
            width: 2rem;
            height: 2rem;
            fill: $primary;
        }
        .text {
            display: block;
            margin-left: 1rem;
            color: $secondary;
            font-size: 1.6rem;
            text-decoration: underline;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}

.person-card.person-card-column {
    padding: 4.5rem 5rem;
    flex-direction: column;
    .person-col {
        margin-top: 3rem;
        width: auto;
    }
    .link {
        display: block;
        margin-top: 8rem;
        .desktop & {
            &:hover {
                color: $secondary;
            }
        }
    }
}

/*ASIDE*/
.location {
    display: flex;
    align-items: center;
    text-decoration: none;
    .icon {
        fill: $dark-grey;
        width: 3.2rem;
        height: 3.2rem;
        display: block;
        margin-right: 1.6rem;
    }
    .location-text {
        display: block;
        width: calc(100% - 4.8rem);
        color: $dark-grey;
        font-size: 1.4rem;
        line-height: 1.8em;
        span {
            display: block;
        }
    }
}

.aside {
    margin-top: 9rem;
}

.aside-amount-blocks {
    .simple-block {
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding: 2rem 5rem 14rem;
        .btn-round {
            left: 5rem;
        }
    }
}

/*CENTERED SLIDER*/
.section-slider-centered {
    margin-top: 10rem;
    margin-bottom: 12rem;
    .wrap {
        position: relative;
    }
}

.slider-centered {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    .slick-track {
        padding-top: 4rem;
    }
}

.slick-slide {
    outline: none;
}

.slick-current,
.slick-center {
    .slider-centered-item {
        transform: scale(1);
        opacity: 1;
        z-index: 5;
        transform-origin: 50% 50%;
        transition: all 0.3s ease-in-out;
    }
}

.slider-centered-item {
    position: relative;
    background-color: #fff;
    width: 170% !important;
    margin-left: auto;
    margin-right: auto;
    left: -35%;
    right: -35%;
    padding: 7rem 15rem;
    border-top: 15px solid $secondary;
    border-bottom: 15px solid $secondary;
    border-left: 4px solid $secondary;
    border-right: 4px solid $secondary;
    transform: scale(0.58);
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    &.primary {
        border-color: $primary;
        .slider-centered-title {
            color: $primary;
        }
    }
    .slider-centered-item-inner {
        position: relative;
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            top: -13rem;
            left: -13rem;
            width: 9.5rem;
            height: 9.5rem;
            display: block;
            background-image: url("../../img/icons/colored-icons/quotes.svg");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: -1.6rem;
        left: 0;
        display: block;
        width: 11rem;
        height: 0;
        border-bottom: 5rem solid #fff;
        border-left: 4rem solid transparent;
        transform: rotate(180deg);
    }
    &::after {
        content: "";
        position: absolute;
        top: -0.95rem;
        left: -1.3rem;
        display: block;
        width: 1rem;
        height: 0;
        border-bottom: 0.8rem solid #fff;
        border-right: 1rem solid transparent;
        transform: rotate(90deg);
    }
}

.slider-centered-title {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3em;
    color: $secondary;
    margin-bottom: 5rem;
    display: -webkit-box;
    max-height: 12.4rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 4;
    height: 12.4rem;
}

.slider-centered-person {
    display: flex;
    align-items: flex-start;
    .slider-centered-person-image {
        position: relative;
        width: 8rem;
        height: 8rem;
        border-radius: 2.5rem;
        overflow: hidden;
        margin-right: 3rem;
    }
    .slider-centered-person-info {
        width: calc(100% - 11rem);
        .slider-centered-person-name {
            display: block;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.3em;
            color: $secondary;
            margin-bottom: 2rem;
        }
        .slider-centered-person-job {
            max-width: 70%;
            font-size: 1.4rem;
            font-weight: 600;
            color: $secondary;
            line-height: 1.3em;
            display: block;
        }
    }
}

.slider-centered-controls {
    .btn-arrow {
        position: absolute;
        top: calc(50% - 2.25rem);
        &.prev {
            left: 2rem;
        }
        &.next {
            right: 2rem;
        }
    }
}

.btns-simple-blocks {
    margin-top: 6rem;
}

.btn-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid $border-color;
    .icon {
        width: 2rem;
        height: 2rem;
        fill: $secondary;
    }
}

/*NEWS BLOCKS*/
.news-block-slider-wrap {
    position: relative;
}

.news-block-row-w {
    .col-3-w {
        &:nth-child(-n + 4) {
            .news-block {
                border-top: 1px solid $border-color;
            }
        }
        &:nth-child(4n + 1) {
            .news-block {
                border-left: 1px solid $border-color;
            }
        }
        .news-block {
            border-left: none;
            border-top: none;
        }
    }
}

.news-block-row {
    display: flex;
    flex-wrap: wrap;
    .slick-list {
        width: 100%;
    }
    .slick-track {
        display: flex;
        margin-left: 0;
        margin-right: 0;
        div {
            outline: none !important;
        }
        .slick-slide {
            display: flex;
            height: auto;
            outline: none !important;
            &.slick-slide:not(.slick-active) + .slick-active {
                .news-block {
                    border-left: 1px solid $border-color;
                }
            }
            & > div {
                width: 100%;
            }
            &:first-child {
                .news-block {
                    border-left: 1px solid $border-color;
                }
            }
            .news-block {
                border-left: none;
            }
        }
    }
}

.news-block-slider-controls.lined-slider-controls {
    right: 0;
}

.news-block {
    padding: calc(57% + 4rem) 3rem 3rem;
    height: 100%;
    position: relative;
    overflow: hidden;
    outline: none;
    border: 1px solid $border-color;
    .news-block-image {
        position: absolute;
        width: calc(100% - 6rem);
        padding-top: 56.25%;
        height: 0;
        top: 0;
        transform: translateY(3rem);
        border-radius: 2rem;
        overflow: hidden;
        transform-origin: 50% 3rem;
        transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        background-color: $light-blue;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            display: blocks;
            width: 6rem;
            height: 6rem;
            background-image: url("../../img/icons/colored-icons/secondary/newspaper.svg");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    .news-block-title {
        a {
            color: $secondary;
            text-decoration: none;
        }
    }
    & > .news-block-title {
        display: -webkit-box;
        max-height: 7.8rem;
        height: 7.8rem;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 3;
    }
    .news-block-company-name {
        display: block;
        margin-top: 3rem;
        margin-bottom: -1rem;
        font-weight: 600;
        color: $middle-grey;
    }
    .news-block-hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: rgba($secondary, 0.85);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        .news-block-hover-img {
            max-width: 9.5rem;
            height: auto;
        }
        .news-block-title {
            margin-top: 3rem;
            margin-bottom: 3rem;
            &,
            a {
                color: #fff;
            }
        }
    }
    .news-block-hover-inner {
        padding: 3rem;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20%);
        transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .news-block-date {
        font-size: 1.4rem;
        line-height: 2em;
        color: #fff;
        padding: 0.6rem 1rem;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 0.6rem;
    }
    .desktop & {
        &:hover {
            &.video-block {
                .news-block-image {
                    transform: translateY(0) scale(2.2);
                }
            }
            .news-block-image {
                transform: translateY(0) scale(2);
            }
            .news-block-hover {
                opacity: 1;
                visibility: visible;
            }
            .news-block-hover-inner {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
}

/*BLOCK WITH LINKS*/
.list-without-type {
    margin-left: 0;
    li {
        &::before {
            display: none;
        }
    }
}

/*ARTICLE*/
.article-upper-row {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: -2rem;
    margin-right: -2rem;
    a,
    span {
        display: block;
        margin-left: 2rem;
        margin-right: 2rem;
        line-height: 1.5;
    }
    span {
        width: calc(10% - 4rem);
    }
    .secondary-text {
        width: calc(50% - 4rem);
    }
    a {
        width: calc(40% - 4rem);
    }
}

.social-article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    a,
    span {
        display: block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon {
        width: 1.8rem;
        height: 1.8rem;
        fill: $dark-grey;
    }
}

.article-image {
    margin-top: 7rem;
    margin-bottom: 7rem;
    background-color: $middle-blue;
    &.full-width {
        position: relative;
        overflow: hidden;
        height: 0;
        padding-top: 36.45833%;
        img {
            position: absolute;
            top: 0;
            left: -50%;
            right: -50%;
            margin-left: auto;
            margin-right: auto;
            min-width: 100%;
        }
    }
    .wrap-sm {
        position: relative;
        overflow: hidden;
    }
    .simple-width {
        position: relative;
        overflow: hidden;
        height: 0;
        padding-top: 83.33333%;
        img {
            position: absolute;
            top: 0;
            left: -50%;
            right: -50%;
            margin-left: auto;
            margin-right: auto;
            min-width: 100%;
        }
    }
}

.article-content {
    .content {
        max-width: 84rem;
    }
}

.aside-amount-blocks {
    margin-top: 5rem;
    .news-block {
        &:not(:last-child) {
            border-bottom: none;
        }
    }
}

.aside-article {
    .btns-aside {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

/*IMAGEIN BLOCK*/
.imagein-block {
    padding-top: 5rem;
    padding-bottom: 5rem;
    img {
        display: block;
        max-width: 18rem;
        height: auto;
    }
    &,
    &-with-text,
    &-with-btn {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $border-color;
        height: calc(100% - 4rem);
        margin-bottom: 2rem;
        margin-top: 2rem;
        text-decoration: none;
    }
    &-with-text {
        padding-top: 4rem;
        padding-bottom: 4rem;
        img {
            display: block;
            max-width: 16rem;
            height: auto;
            width: calc(100% - 2rem);
            margin-left: auto;
            margin-right: auto;
        }
        .h3 {
            display: block;
            color: $secondary;
            margin-top: 2rem;
        }
        &-sm {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
    &-with-btn {
        padding: 2rem 4rem 4rem;
        align-items: flex-start;
        span,
        a {
            margin-left: 2rem;
            margin-right: 2rem;
        }
        span {
            color: $secondary;
        }
    }
    &-sm {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

a.imagein-block {
    transition: all 0.3s ease-in-out;
    .desktop & {
        &:hover {
            border-color: $primary;
        }
    }
}

.section-title-lg {
    text-align: left;
    position: relative;
    .wrap-sm{
        position: relative;
        z-index: 5;
    }
    &.hide-image {
        .title-block {
            &::after {
                display: none;
            }
        }
        &::after {
            display: none;
        }
        .bg {
            display: block;
            top: 0%;
            right: 0;
            bottom: 0%;
            margin-top: auto;
            margin-bottom: auto;
            position: absolute;
            width: 70%;
            //background-image: url('../../img/bg-pattern.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        .people {
            display: block;
            right: calc((100vw - 186rem) / 2);
            bottom: 0%;
            position: absolute;
            margin-top: auto;
            margin-bottom: auto;
            position: absolute;
            width: 60%;
            height: 90%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom right;
        }
    }
    .title-block {
        position: relative;
        overflow: hidden;
        padding-top: 15rem;
        padding-bottom: 18rem;
        &::after {
            content: "";
            display: block;
            top: 0%;
            right: 0;
            bottom: 0%;
            margin-top: auto;
            margin-bottom: auto;
            position: absolute;
            width: 70%;
            background-image: url("../../img/bg-pattern2.svg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    &::after {
        content: "";
        display: block;
        right: 2rem;
        bottom: 0%;
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        width: 60%;
        height: 90%;
        background-image: url("../../img/draft/people2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom right;
    }
}

.large-title {
    display: block;
}

.large-title {
    font-size: 10rem;
    font-weight: 700;
    line-height: 1.3em;
    margin-top: -3rem;
    color: $secondary;
}

/*QUOTES*/
.quote {
    max-width: 120rem;
    margin-top: 12rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #fff;
    padding: 7rem 15rem;
    border-top: 15px solid $primary;
    border-bottom: 15px solid $primary;
    border-left: 4px solid $primary;
    border-right: 4px solid $primary;
    .quote-inner {
        position: relative;
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            top: -19rem;
            left: -12rem;
            width: 13rem;
            height: 13rem;
            display: block;
            background-image: url("../../img/icons/colored-icons/quotes.svg");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: -1.6rem;
        left: 0;
        display: block;
        width: 15rem;
        height: 0;
        border-bottom: 5rem solid #fff;
        border-left: 4rem solid transparent;
        transform: rotate(180deg);
    }
    &::after {
        content: "";
        position: absolute;
        top: -0.95rem;
        left: -1.3rem;
        display: block;
        width: 1rem;
        height: 0;
        border-bottom: 0.8rem solid #fff;
        border-right: 1rem solid transparent;
        transform: rotate(90deg);
    }
    .content & {
        padding: 5rem 10rem;
        margin-top: 12rem;
        margin-bottom: 7rem;
        .quote-title {
            color: $primary;
            margin-bottom: 9rem;
        }
        .quote-inner {
            &::before {
                top: -17rem;
                left: -7rem;
            }
        }
    }
}

.quote-title {
    margin-top: 4rem;
    margin-bottom: 12rem;
}

.quote-person {
    display: flex;
    align-items: flex-start;
    .quote-person-image {
        position: relative;
        width: 8rem;
        height: 8rem;
        border-radius: 2.5rem;
        overflow: hidden;
        margin-right: 3rem;
    }
    .quote-person-info {
        width: calc(100% - 11rem);
        .quote-person-name {
            display: block;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.3em;
            color: $secondary;
            margin-bottom: 2rem;
        }
        .quote-person-job {
            max-width: 30rem;
            font-size: 1.4rem;
            font-weight: 600;
            color: $secondary;
            line-height: 1.3em;
            display: block;
        }
    }
}

/*TITLE CENTER SEARCH*/
.search-form {
    max-width: 87rem;
    margin-left: auto;
    margin-right: auto;
    &.active {
        .search-form-inner {
            box-shadow: 0 3px 15px rgba(#c0cadd, 1);
        }
    }
    .search-form-inner {
        position: relative;
        display: flex;
        justify-content: center;
    }
    .btn {
        margin-top: 0;
    }
    .search-results {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        box-shadow: 0 3px 15px rgba(#c0cadd, 1);
        margin: 0;
        left: 0;
        z-index: 6;
        padding-top: 2rem;
        padding-bottom: 2rem;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease-in-out;
        &.hidden {
            opacity: 0;
            visibility: hidden;
        }
        li {
            margin-bottom: 0;
            padding: 2rem 5rem;
            &::before {
                display: none;
            }
            a {
                display: flex;
                justify-content: space-between;
                text-decoration: none;
                span {
                    color: $secondary;
                }
                .search-title {
                    font-weight: 700;
                }
            }
        }
    }
}

.search-label {
    display: flex;
    align-items: center;
    align-items: center;
    background-color: $secondary;
    width: 100%;
    padding: 3rem 5rem;
    input {
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid #fff;
        width: 100%;
        display: block;
        padding: 1rem;
        &,
        &::placeholder {
            color: #fff;
            font-size: 1.6rem;
            font-weight: 700;
        }
    }
}

.row-selector {
    .select {
        max-width: 30rem;
    }
    .column {
        width: auto;
        max-width: none;
        flex: 0 0 auto;
        .select-label {
            display: block;
            margin-left: auto;
        }
    }
}

/*PROFILE PAGE*/
.title-profile-block {
    background-color: $middle-blue;
    padding-top: 9rem;
    padding-bottom: 14rem;
    .title-profile {
        margin-top: 3rem;
        & + .person-card {
            height: auto;
        }
    }
    .title-description {
        margin-top: 5rem;
        margin-bottom: 5rem;
        max-width: 87rem;
    }
}

.profile-logo {
    position: relative;
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: #fff;
    .contain {
        top: 2rem;
        left: 2rem;
        right: 2rem;
        bottom: 2rem;
        max-width: calc(100% - 4rem);
        max-height: calc(100% - 4rem);
    }
}

.contain {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-width: 100%;
    margin: auto;
}

.after-title-block {
    padding-top: 4rem;
    padding-bottom: 8rem;
    background-color: $secondary;
    .title {
        color: #fff;
    }
    .title-sm {
        display: block;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: #fff;
        font-weight: 700;
        line-height: 1.5em;
    }
    .after-title-link {
        display: block;
        text-decoration: none;
        color: #fff;
        line-height: 1.5em;
    }
}

.section-negative-top {
    margin-top: -7rem;
    margin-bottom: 10rem;
}

/*IMAGE*/
.img-lg {
    position: relative;
    overflow: hidden;
    .after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $primary;
        z-index: 2;
    }
    img {
        display: block;
    }
}

.block-with-text {
    p {
        max-width: 90%;
    }
    .btn,
    .btn-secondary {
        margin-top: 8rem;
    }
    .btns {
        display: flex;
        flex-wrap: wrap;
    }
}

/*FULL SCREEN*/
.full-screen {
    .wrap {
        position: relative;
        overflow: hidden;
        height: 95rem;
    }
    .full-screen-image {
        position: relative;
        height: 100%;
    }
}

.full-height-block {
    background-color: $primary;
    top: 0;
    bottom: 0;
    width: 64rem;
    max-width: 100%;
    position: absolute;
    left: 11rem;
    padding: 8rem 5rem;
    h2 {
        color: #fff;
        font-weight: 600;
    }
    .lined-left {
        margin-top: 4rem;
        position: relative;
        padding-left: 5rem;
        padding-right: 5rem;
        span {
            font-size: 5rem;
            font-weight: 700;
            line-height: 1.2em;
            color: #fff;
        }
        &::before {
            content: "";
            width: 0.3rem;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            background-color: #fff;
        }
    }
    .logo {
        position: absolute;
        bottom: 5rem;
        left: 3rem;
    }
}

.special-border-top {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #fff;
    padding: 5rem 4.5rem 6rem;
    border-top: 10px solid $primary;
    border-bottom: 10px solid $primary;
    border-left: 3px solid $primary;
    border-right: 3px solid $primary;
    text-align: center;
    height: calc(100% - 8rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .special-title {
        font-size: 4rem;
        font-weight: 900;
        font-style: italic;
        color: $secondary;
        position: absolute;
        left: 2rem;
        top: -3.5rem;
        &.special-title-number {
            left: 4.5rem;
        }
    }
    .special-border-inner {
        position: relative;
        z-index: 2;
    }
    &::before {
        content: "";
        position: absolute;
        top: -1.6rem;
        left: 0;
        display: block;
        width: 9rem;
        height: 0;
        border-bottom: 5rem solid #fff;
        border-left: 4rem solid transparent;
        transform: rotate(180deg);
    }
    &::after {
        content: "";
        position: absolute;
        top: -0.95rem;
        left: -1.3rem;
        display: block;
        width: 1rem;
        height: 0;
        border-bottom: 0.8rem solid #fff;
        border-right: 1rem solid transparent;
        transform: rotate(90deg);
    }
}

.special-border-left {
    padding-left: 4.5rem;
    padding-right: 6rem;
    border-left: 2px solid $primary;
    height: calc(100% - 4rem);
    margin-bottom: 4rem;
    .special-title {
        font-size: 4rem;
        font-weight: 700;
        color: $secondary;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
}

/*LINKED BLOCK*/
.linked-block {
    border: 1px solid $border-color;
    font-weight: 600;
    text-align: center;
    height: calc(100% - 4rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 5rem;
    display: block;
    text-decoration: none;
    color: $secondary;
    line-height: 1.55em;
    transition: all 0.3s ease-in-out;
    .desktop & {
        &:hover {
            border-color: $primary;
        }
    }
}

.file-added {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
    border: 1px solid $secondary;
    padding: 2rem 2.6rem;
    max-width: 26rem;
    text-decoration: none;
    .icon {
        width: 2.4rem;
        height: 2.4rem;
        fill: $primary;
    }
    .name {
        display: block;
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: $secondary;
        line-height: 1.5em;
        text-decoration: none;
    }
    .link {
        display: block;
    }
}

/*AUTHOR ARTICLE*/
.article-author-block {
    max-width: 84rem;
    margin-bottom: 5rem;
    .article-author-desc {
        font-size: 1.4rem;
        font-weight: 600;
        color: $secondary;
        display: block;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .article-author {
        border: 1px solid $border-color;
        padding: 3rem 6rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        img {
            width: 17rem;
            height: auto;
        }
        .article-author-info {
            margin-left: 7rem;
            width: calc(100% - 24rem);
        }
        .article-author-title {
            color: $secondary;
            font-size: 2.4rem;
            font-weight: 600;
            display: block;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        .text {
            color: $dark;
        }
        .desktop & {
            &:hover {
                border-color: $primary;
            }
        }
    }
}

.form-respond {
    margin-top: 10rem;
    margin-bottom: 4rem;
    .label-text {
        max-width: 100%;
    }
}

.label-file {
    display: flex;
    align-items: center;
    cursor: pointer;
    input {
        display: none;
    }
    .icon {
        width: 2.4rem;
        height: 2.4rem;
        fill: $secondary;
    }
    .file-name {
        display: block;
        margin-left: 1rem;
        color: $primary;
        font-size: 1.6rem;
        text-decoration: underline;
    }
}

.form-respond-submit-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 6rem;
    .h5 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .recaptcha {
        margin-left: auto;
        margin-right: 4rem;
    }
    .form-respond-submit-column,
    .recaptcha,
    .btn,
    .btn-secondary {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

/*FILLED BLOCK*/
.filled-block {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: calc(100% - 4rem);
    .filled-block-title {
        margin-top: 2rem;
        margin-bottom: 2rem;
        &,
        a {
            text-decoration: none;
            color: $dark;
        }
    }
}

.filled-block-with-color {
    background-color: $primary;
    padding: 9rem 17rem;
    color: #fff;
    display: block;
    text-decoration: none;
    text-align: center;
    .filled-block-name {
        color: #fff;
        font-size: 2.2rem;
        font-weight: 900;
        display: block;
        text-transform: uppercase;
    }
    .filled-block-desc {
        color: #fff;
        font-size: 3.6rem;
        font-weight: 900;
        margin-top: 2rem;
        display: block;
    }
}

/*MAP*/
.map {
    height: 70rem;
}

.block-under-map {
    max-width: 76rem;
    margin-top: -75rem;
    margin-left: 2rem;
    margin-right: 10rem;
    position: relative;
    z-index: 10;
}

/*BACKGROUND COLORED BLOCK*/
.background-colored-block {
    background-color: $secondary;
    padding: 2rem 4rem 27rem;
    .title,
    .title-sm {
        color: #fff;
    }
    .title-sm {
        display: block;
        margin-bottom: 2rem;
        font-weight: 700;
    }
    .link {
        text-decoration: none;
        color: #fff;
        font-size: 1.4rem;
        line-height: 1.8em;
        display: block;
    }
}

.row-mt {
    margin-top: 9rem;
    margin-bottom: 4rem;
}

/*CONTACTS FORM*/
.contacts-form-block {
    padding: 0 4rem;
    margin-top: -24rem;
}

.contacts-form {
    border: 2px solid $border-color;
    padding: 6rem 7rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn {
        margin-top: 4rem;
    }
}

/*SINGLE EVENT*/
.event-price {
    span {
        display: block;
    }
}

.max-col {
    .event-price {
        width: 26.4rem;
    }
}

.btns-title {
    margin-top: 4rem;
    margin-bottom: 3rem;
    text-align: right;
}

.table-info {
    margin-top: 5rem;
}

.table-info-tr {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.table-info-td-sm {
    display: flex;
    align-items: center;
    min-width: 12rem;
    .icon {
        width: 2rem;
        height: 2rem;
        fill: $dark-grey;
        margin-right: 1rem;
    }
}
.table-info-td-lg {
    font-weight: 700;
    font-size: 1.8rem;
}

.aside-amount-blocks {
    .event-block {
        padding: 6rem;
        margin-bottom: 4rem;
    }
}

.content-p-b {
    & + .person-card-sm-row {
        margin-top: 0;
    }
    padding-bottom: 3rem;
}

.news-block {
    .btn-play {
        margin-top: 2rem;
    }
}

.btn-play {
    .icon {
        margin-left: 3px;
    }
}

.section-inner-slider-container {
    .wrap {
        position: relative;
    }
}

.slick-slide {
    &:focus,
    a {
        outline: none !important;
    }
}

.section-inner-slider {
    position: relative;
    padding-left: 6rem;
    padding-right: 6rem;
    .simple-block {
        margin-left: 2rem;
        margin-right: 2rem;
        h3 {
            margin-bottom: 6rem;
        }
    }
}

.section-inner-slider-controls {
    .prev,
    .next {
        position: absolute;
        top: calc(50% - 2.5rem);
    }
    .prev {
        left: 2rem;
    }
    .next {
        right: 2rem;
    }
}

.btn-slider-inner {
    width: 5rem;
    height: 5rem;
    border: 1px solid $border-color;
    .icon {
        width: 2rem;
        height: 2rem;
        fill: $secondary;
    }
}

.notification {
    position: fixed;
    padding: 2rem;
    right: 2rem;
    bottom: 2rem;
    width: 40rem;
    min-height: 15rem;
    background-color: #fff;
    border: 2px solid $secondary;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    &.open-notification {
        opacity: 1;
        visibility: visible;
    }
    .notification-title {
        margin-top: 0;
        width: calc(100% - 4rem);
    }
    .btn-close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        cursor: pointer;
        .icon {
            width: 2rem;
            height: 2rem;
            fill: $secondary;
        }
    }
    &.error {
        border-color: $primary;
        .notification-title {
            color: $primary;
        }
        .btn-close {
            .icon {
                fill: $primary;
            }
        }
    }
    &.success {
        border-color: #007508;
        .notification-title {
            color: #007508;
        }
        .btn-close {
            .icon {
                fill: #007508;
            }
        }
    }
}

.right-column{
    margin-left: auto;
}

.simple-vacancies-block{
    .block-title{
        &, a{
            max-height: none;
            height: auto;
        }
    }
}

.section-error{
    min-height: 50vh;
    position: relative;
    padding-left: 43vw;
    .error-img{
        position: absolute;
        top: -10vw;
        left: 0;
        width: 40vw;
    }
    .error-content{
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    .text{
        margin-bottom: 6rem;
    }
}