.header{
    display: flex;
    width: 95%;
    margin: 0 auto;
    height: 90%;
    margin-top: 20px;
}

.main{
    margin-top: 230px;
}

.wp-block-image img {
    width: 100%;
}

.news_body{
    display: flex;
    width: 90%;
}

.doc summary{
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    padding: 20px 20px 0px 40px;
}

.doc .file{
    display: flex;
    align-items: center;
}

.post_title {
    text-align: center;
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #1144aa;
    font-weight: bold;
}

.post_body{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.post_title{
    text-align: center;
    font-size: 24;
}

.news_page img{
    width: 100%;
}

.description_part{
    width: 50%;
    padding: 40px;
}

.description_part a{
    color: white;
    background: #7d7eb9;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.description_part .date{
    color: #4b0083;
    font-weight: bold;
}

.news_list{
    width: 75%;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-container-calendar{
    display: none;
}

.title_part a{
    color: #2755b2;
    text-decoration: none;
}

.title_part{
    width: 50%;
}

.calendar{
    width: 25%;
}

.single_news_block{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.single_news_block:first-child {
    margin-top: 0;
    margin-bottom: 0;
  }

.chart_body{
    padding-top: 230px;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.tasks{
    padding-left: 20px;
}

.logo img {
    margin-left: 40px;
    
    height: auto;
    width: 210px;
} 

.footer .wrap{
    display: flex;
    justify-content: space-between;
    color: #325180;
    font-style:oblique;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    width: 100%;
}

.main_body{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
}

.contacts_body{
    width: 50%;
    padding-right: 40px;
}

.doc_body{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.footer{
    background: rgba(59, 45, 64, 0.4);
    padding-left: 20px;
    padding-right: 20px;;
}

.right_foot_part img{
    width: 50px;
    height: 50px;
   }

.left_foot_part{
       margin-top: 5px;
   }
   
.footer .wrap a,.footer .wrap a:visited{
    color: #d9ebf7;
    text-decoration: none;
}

img.wp-smiley, img.emoji {
    margin: 0 0.5em 0 0 !important;
}

.menu ul{
    display: flex;
    width: 100%;
}

.menu ul{
    background-color: lavender;
    display: flex;
    justify-content: space-around;   
}

.nazva h1 {
    margin-top: 15px;
    margin-bottom: 0px;
    font-style: HELVETICA;
    margin-left: 20px;
    font-size: 40px;
    color: indigo;
    font-weight: bold;
    position: relative;
    display: inline-block;
    text-align: center;
}

.nazva h3 {
    font-style: system-ui;
    margin-left: 20px;
    color: rgb(36, 83, 177);
    font-weight: bold;
    text-align: center;
}

.contacts_part {
    float: right;
    margin-left: 120px;
    margin-top: 30px;
} 


.contacts_part span {
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-style: system-ui;    
} 

.fixed_part{
    position: fixed;
    width: 100%;
    background: white;
    z-index: 2;
    top: 0;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

.menu ul a {
    font-family: sans-serif;
    text-decoration: none;
    color: indigo;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    background-color: lavender;
    width: 100%;
}

.contacts_part{
    display: flex;
    justify-content: space-around;
}

.main_content_body, .doc {
     display: block;
     background: url("../img/logo.jpg");
     width: 100%;
     height: 380px;
}

.contacts{
    display: block;
     background: url("../img/logo2.jpg");
     width: 100%;
     height: 100%;
     padding-top: 20px;
     padding-bottom: 40px;
}

.docs_page{
    height: calc(100vh - 285px);
}

.doc{
    display: block;
    background: url("../img/logo3.jpg");
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    overflow-y: auto;
}

.doc h3{
    margin: 0;
    
}

.doc .file h3{
    padding: 10px 10px 10px 40px;
}

.doc .file a{
    color: #1144aa;
}

.pidroz{
    display: block;
    background-color: lavender;
}

.pidroz h3{
    color: #4e908f;
}

.main_content_body h3{
    font-size: 20px;
    color: #392E85;
    font-weight: bold;
    padding: 0 40px 0;
}

.main_content_body h4{
    font-size: 15px;
    color: black;
    font-weight: bold;    
}

.contacts h3{
    font-size: 21px;
    color: #4e908f;
    font-weight: bold;
}

#zagol{
    font-size: 21px;
    color: #1D766F;
    font-weight: bold;
}

.contacts span{
    font-size: 17px;
    color:black;
    font-weight: bold;
}

    .cont_adress{
        width: 50%; 
        
    }

    iframe{
        width: 100%;
    }

    table {
    width: 100%
   }

    .pidroz caption{
    font-weight: bold;
    font-size: 17px;  
}

   th{
    background-color: rgba(0, 102, 94, 0.4);
    font-size: 14px;
   }

   .zagl{
    background-color: rgba(128, 128, 128, 0.4); 
    color: #1144AA;
    font-size: 12px;
   }

   td{
    background-color: rgba(29, 118, 111, 0.2);
    font-size: 13px;
   }

   .doc p{
    color: #1D766F;
    font-weight: bold;
    margin-left: 10px; 
   }
 
   .main hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 15px 12px -11px rgba(0,0,0,0.15);
   } 



   

   

   






/* #head_menu li {
    display: inline;
    margin-right: -5px;
    border: 1px solid indigo;

    height: 40px;
    top:300px;   
} */
