.header{
    display: flex;
    width: 95%;
    margin: 0 auto;
    height: 90%;
    margin-top: 20px;
}

.chart_body{
    padding-top: 250px;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.tasks{
    padding-left: 20px;
}

.logo img {
    margin-left: 40px;
    
    height: auto;
    width: 210px;
} 

.footer .wrap{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: rgba(59, 45, 64, 0.6);
    color: #325180;
    font-style:oblique;
    font-size: 16px;
    font-weight: bold;
}

.right_foot_part img{
    width: 50px;
    height: 50px;
    margin-top: 5px;
   }
   
   .left_foot_part{
       margin-top: 15px;
   }

.footer .wrap a,.footer .wrap a:visited{
    color: #d9ebf7;
    text-decoration: none;
}

img.wp-smiley, img.emoji {
    margin: 0 0.5em 0 0 !important;
}

.menu ul{
    display: flex;
    width: 100%;
}

.menu ul{
    background-color: lavender;
    display: flex;
    justify-content: space-around;
    
    
}

.nazva h1 {
    margin-top: 15px;
    margin-bottom: 0px;
    font-style: HELVETICA;
    margin-left: 20px;
    font-size: 40px;
    color: indigo;
    font-weight: bold;
    position: relative;
    display: inline-block;
    text-align: center;
}

.nazva h3 {
    font-style: system-ui;
    margin-left: 20px;
    color: rgb(36, 83, 177);
    font-weight: bold;
    text-align: center;
}
.contacts_part {
    float: right;
    margin-left: 170px;
    margin-top: 30px;

} 


.contacts_part span {
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-style: system-ui; 
    
    
} 

.fixed_part{
    position: fixed;
    width: 100%;
    background: white;

    z-index: 2;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;

    padding: 5px;
    margin-top: 10px;
}

.menu ul a {
    font-family: sans-serif;
    text-decoration: none;
    color: indigo;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    background-color: lavender;
    
    width: 100%;
}

.contacts_part{
    display: flex;
    justify-content: space-around;
}

.main_content_body, .doc {
     display: block;
     background: url("../img/logo.jpg");
     width: 100%;
     height: 650px;
}
.god, .contacts{
    display: block;
     background: url("../img/logo2.jpg");
     width: 100%;
     height: 100%;
}

.doc{
    display: block;
     background: url("../img/logo3.jpg");
     width: 100%;
     height: 425px;
}

.pidroz{
    display: block;
     background: url("../img/logo3.jpg");
     width: 100%;
     height: 110px;
}




.main_content_body h3{
    font-size: 30px;
    color: #392E85;
    font-weight: bold;
    padding: 40px 40px 0;
    
}
.main_content_body h4{
    font-size: 20px;
    color: black;
    font-weight: bold;    
}

.contacts h3{
    font-size: 25px;
    color: black;
    font-weight: bold;
}

#zagol{
    font-size: 21px;
    color: #1D766F;
    font-weight: bold;
}

.contacts span{
    font-size: 17px;
    color:black;
    font-weight: bold;
}

.cont_adress{
    float: right;
    text-align: left;  
}

.cont_adress hr{
    height: 12px;
border: 0;
box-shadow: inset 0 15px 12px -11px rgba(0,0,0,0.15);
}

table {
    width: 100%; 
   }

.pidroz caption{
    font-weight: bold;
    font-size: 17px;
     
}

   th{
    background-color: rgba(0, 102, 94, 0.4);
   }

   .zagl{
    background-color: rgba(128, 128, 128, 0.4); 
    color: #1144AA;
   }

   td{
    background-color: rgba(29, 118, 111, 0.2);
   }

   .doc p{
    color: #1D766F;
    font-weight: bold;
    margin-left: 10px; 
   }

   .doc hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 15px 12px -11px rgba(0,0,0,0.15);
   }

   .god{
    color: #1D766F;
    font-weight: bold;
    margin-left: 10px;
   }

   .main hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 15px 12px -11px rgba(0,0,0,0.15);
   }

   .god h3{
    color: #1144AA;
   }

   
   
   






/* #head_menu li {
    display: inline;
    margin-right: -5px;
    border: 1px solid indigo;

    height: 40px;
    top:300px;   
} */
