.form_header{
    text-align: center;
}

.check_key_error{
    color: $primary;
    font-size: 3.2rem;
    text-align: center;
}

.pagination-item{
    cursor: pointer;
}

.search-form .search-results{
    max-height: 290px;
    overflow-y: auto;
}

.section-title .description{
    font-size: 1.6rem;
    color: #3b3b3b;
    line-height: 1.5em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-respond-submit-row {
    justify-content: space-between;
}

.ticket-form{
    width: 80%;
    margin: 0 auto;

    textarea{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .buttons_block{
        display: flex;
        justify-content: center;

        .btn{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

.file-added .name {
    word-break: break-all;
}

#registerform{

    .select_box,.check_box{
        position: relative;
        margin-top: 3rem;
        margin-bottom: 4rem;

        .text-notification{
            font-size: 1.2rem;
            position: absolute;
            bottom: -20px;
            left: 0;
        }

    }

    .label-text {
        margin-bottom: 4rem;
    }

    #no-member_field{
        display: none;
    }

    #user_date{
        color: #003c71;
    }


    .multyselect .select .select-list{
        z-index: 5;
    }


    #reCaptcha{
        position: relative;
    }

    #reCaptcha ~ .text-notification{
        font-size: 1.2rem;
        position: absolute;
    }

    #member_field_block{
        position: relative;
    }


}

.multyselect:not(.open){
    overflow: hidden;
} 

#vacancy_form{
    .notify-pad{
        padding-left: 10px;
        font-size: 1.2rem;
    }


    #reCaptcha ~ .text-notification{
        font-size: 1.2rem;
    }
}

#new_password_form .label-text {
    margin-bottom: 4rem;
}

#log_form{
    .label-text {
        margin-bottom: 4rem;
    }
}

#other_field_reason{
    display: none;
}

.ssba-classic-2>div{
    display: flex;
    justify-content: flex-end;
}

.ssba-classic-2>div img{
    width: 25px!important;
}

.event-block .event-block-time {
    max-width: 100%;
}

#single_event_page .article-upper-row .tag{
    width: calc(20% - 0rem);
    text-align: center;
}


.social-article{
    flex-wrap: nowrap;
}


details summary {
    display: block;  /* у summary по умолчанию свойство display в значении list-item, потому поддерживается свойство list-style */
    width: 10em;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;  /* блок раскрывается при щелчке по кнопке, а не по всей строке */
    border-bottom: 1px dotted;  /* подводка точками или тире часто используется для элементов, с которыми пользователю предлагается взаимодействовать, можно заменить на text-decoration */
    outline-style: none;  /* удалить обводку при фокусе */
    cursor: pointer;
    }

    details summary h5{
        margin: 0;
    }

    .content details p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }


    #visa_content details summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
    }

    #visa_content details:not([open]) summary::after {
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        content: '';
        display: inline-block;
        height: 0.45em;
        transform: rotate(-45deg);
        vertical-align: top;
        width: 0.45em;
        position: absolute;
        right: -30px;
        top: 12px;
        color: #a0cbef;
    }

    #visa_content details[open] summary::before {
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        content: '';
        display: inline-block;
        height: 0.45em;
        transform: rotate(-45deg);
        vertical-align: top;
        width: 0.45em;
        position: absolute;
        right: -30px;
        top: 6px;
        color: #a0cbef;
        top: 8px;
        transform: rotate(135deg);  
    }

    // #become-member_form .text-notification{
    //     font-size: 1.2rem;
    //     position: absolute;
    //     bottom: -20px;
    //     left: 0;
    // }

    
    #become-member_form .text-notification{
        font-size: 1.2rem;
    }

    #become-member_form  .border-row {
        margin-bottom: 1rem;
    }

    .map_link{
        color: white;
    }


    .map-content .companies-anchor{
        color: #da1f3d;
        text-decoration: none;
        padding: 8px 12px;
        display: inline-block;
    }

    .map-content .companies-button{
        background: white;
        border: 2px solid #da1f3d;
        padding: 5px;
        text-decoration: none;
        color: red;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    .map-content .link_container{
        padding: 5px 0;
    }


    #visa_content .person-card .person-subrow span:not(:last-child):after{
        display: none;
    }

    .wg_link.hidden{
        display: none;
    }

    .more_links_wg{
        color: #da1f3d;
    }


    .membership .people{
        display: block;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        background-repeat: no-repeat;

        right: calc((100vw - 186rem)/2);
        width: 60%;
        height: 90%;
        background-size: contain;
        background-position: 100% 100%;
    }

    .membership .bg{
        display: block;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        background-repeat: no-repeat;

        top: 0;
        right: 0;
        width: 70%;
        background-size: cover;
    }

    .section-title-lg::after{
        display: none;
    }

    .section-title-lg .title-block::after{
        display: none;
    }

    .become_member_page .quote-inner h3{
        font-size: 3rem;
    }

    #other_way_to_find_of_chember{
        display: none;
    }

    .desktop .imagein-block-with-btn:hover{
        border-color: #da1f3d;
    }

    .section-title .title-block{
        position: relative;
    }

    .content_header{
        position: relative;
        z-index: 2;
    }

    .image_heaader{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .event_categorie .content_header .title{
        color: white
    }

    .event_categorie .content_header  .description{
        color: white
    }
