.d-block{
    display: block;
}

.d-inline-block{
    display: inline-block;
}

.d-flex{
    display: flex;
}

.d-none{
    display: none;
}

.d-inline-flex{
    display: inline-flex;
}

.fd-column{
    flex-direction: column;
}

.fd-row-reverse{
    flex-direction: column;
}

.jc-flex-start{
    justify-content: flex-start;
}

.jc-flex-end{
    justify-content: flex-end;
}

.jc-center{
    justify-content: center;
}

.jc-space-between{
    justify-content: space-between;
}

.jc-space-around{
    justify-content: space-around;
}

.ai-center{
    align-items: center;
}

.ai-stretch{
    align-items: stretch;
}

.ai-flex-start{
    align-items: flex-start;
}

.ai-flex-end{
    align-items: flex-end;
}

.t-center{
    text-align: center;
}