*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: "Open Sans", sans-serif ;
    font-size: 1.4rem;
    line-height: 1em;
}

.body-wrap{
    position: relative;
    overflow-x: hidden;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($secondary, .95);
        opacity: 0;
        visibility: hidden;
        z-index: 10;
        transition: opacity .6s ease-in-out, visibility .6s ease-in-out;
    }
}

.body-overflow{
    max-height: 100%;
    overflow: hidden;
}

.body-overflow-mode{
    @extend .body-overflow;
    position: relative;
    .body-wrap{
        &::after{
            opacity: 1;
            visibility: visible;
        }
    }
}

/*TYPOGRAPHY*/

h1,h2,h3,h4,h5,h6{
    color: $secondary;
}

h1, .h1{
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.37em;
}

h2, .h2{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.375em;
}

h3, .h3{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.375em;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h4, .h4{
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.375em;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h5, .h5{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.55em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h6, .h6{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.55em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.quote-text{
    display: block;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.375em;
    color: $primary;
}

.overline{
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: $dark;
}

.caption{
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.375em;
}

.btn-transparent{
    font-size: 1.4rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    color: $primary;
    text-decoration: none;
    cursor: pointer;
}

p{
    font-size: 1.6rem;
    color: $dark;
    line-height: 1.5em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

span{
    font-size: 1.6rem;
    color: $dark;
    line-height: 1.5em;
}

.secondary-text{
    font-size: 1.4rem;
    color: $dark-grey;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn, .btn-secondary, .btn-round{
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:disabled{
        pointer-events: none;
        cursor: default;
        background-color: $grey;
    }
}

.btn, .btn-secondary{
    min-width: 26.4rem;
    min-height: 9rem;
    padding: 3.2rem 3.2rem;
    &, span{
        color: #fff;
        font-size: 1.4rem;
        font-weight: 700;
        text-align: center;
    }
    .icon{
        fill: #fff;
        width: 3rem;
        height: 3rem;
    }
    span + .icon{
        margin-left: 2rem;
    }
    .icon + span{
        margin-left: 2rem;
    }
}

.btn{
    background-color: $primary;
    &:not(:disabled){
        .desktop & {
            &:hover{
                background-color: $primary2;
            }
        }
        &:active:focus{
            background-color: $primary;
        }
    }
}

.btn-secondary{
    background-color: $secondary;
    &:not(:disabled){
        .desktop & {
            &:hover{
                background-color: $secondary2;
            }
        }
        &:active:focus{
            background-color: $secondary;
        }
    }
}

.btn-round{
    background-color: $primary;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    .icon{
        fill: #fff;
        width: 2rem;
        height: 2rem;
    }
    &:not(:disabled){
        .desktop & {
            &:hover{
                background-color: $primary2;
            }
        }
        &:active:focus{
            background-color: $primary;
        }
    }
}

a{
    color: $primary;
}

.link{
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
    font-size: 1.4rem;
    padding: 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &.primary{
        color: $primary;
    }
    &.secondary{
        color: $secondary;
    }
    &:not(:disabled){
        .desktop &{
            &.primary:hover{
                &, span{
                    color: $secondary;
                }
            }
            &.secondary:hover{
                &, span{
                    color: $primary;
                }
            }
        }
        &.primary{
            &:active:focus{
                color: $primary;
            }
        }
        &.secondary{
            &:active:focus{
                color: $secondary;
            }
        }
    }
    &:disabled, &.disabled{
        pointer-events: none;
        cursor: default;
        color: $grey;
    }
}


ul{
    list-style-type: none;
    margin: 0 0 0 2rem;
    padding: 0;
    li{
       font-size: 1.6rem;
       line-height: 1.8em; 
       color: $dark;
       position: relative;
       margin-bottom: 1.6rem;
       color: $dark;
       &::before{
           content: '';
           width: .5rem;
           height: .5rem;
           border-radius: 50%;
           background-color: $secondary;
           line-height: 2em;
           position: absolute;
           left: -2rem;
           top: 1.2rem;
       }
    }
}

ol{
    li{
        font-size: 1.6rem;
        line-height: 1.8em; 
        color: $dark;
        position: relative;
        margin-bottom: 1.6rem;
        color: $dark;
    }
}

.label-checkbox, .label-radio{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    cursor: pointer;
    &, span{
        font-size: 1.4rem;
        color: $dark;
    }
    input{
        display: none;
    }
    .text{
        margin-left: 2rem;
        display: block;
        color: $dark;
        line-height: 1.8rem;
        width: calc(100% - 3.8rem);
    }
    .icon{
        display: block;
        width: 1.8rem;
        height: 1.8rem;
        border: 2px solid $secondary;
        position: relative;
        transition: all .3s ease-in-out;
    }
}

.label-checkbox, .label-radio{
    &.error{
        span{
            color: $primary;
        }
    }
    .text-notification{
        margin-top: 1rem;
        display: block;
        font-size: 1.2rem;
        color: $primary;
        width: 100%;
    }
}

.label-checkbox{
    input{
        &:checked{
            & + .icon{
                background-color: $secondary;
                &::before{
                    opacity: 1;
                }
            }
        }
        &:disabled{
            &:checked{
                & + .icon{
                    background-color: $dark-grey;
                }
            }
            & + .icon{
                border-color: $dark-grey;
                & + .text{
                    color: $dark-grey;
                }
            }
        }
    }
    .icon{
        border-radius: 3px;
        &::before{
            content: '';
            position: absolute;
            top: .2rem;
            left: .2rem;
            right: .2rem;
            bottom: .2rem;
            background-image: url('../../img/icons/checked-white.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            opacity: 0;
            transition: all .3s ease-in-out;
        }
    }
}

.label-radio{
    input{
        &:checked{
            & + .icon{
                &::before{
                    opacity: 1;
                }
            }
        }
        &:disabled{
            &:checked{
                & + .icon{
                    &::before{
                        background-color: $dark-grey;
                    }
                }
            }
            & + .icon{
                border-color: $dark-grey;
                & + .text{
                    color: $dark-grey;
                }
            }
        }
    }
    .icon{
        border-radius: 50%;
        &::before{
            content: '';
            position: absolute;
            width: .8rem;
            height: .8rem;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background-color: $secondary;
            border-radius: 50%;
            display: block;
            opacity: 0;
            transition: all .3s ease-in-out;
        }
    }
}

.label-text{
    position: relative;
    width: 100%;
    max-width: 50rem;
    display: block;
    margin-top: 3rem;
    margin-bottom: 2rem;
    input, textarea{
        width: 100%;
        border: none;
        outline: none;
        background-color: $text-fields;
        border: 1px solid transparent;
        border-bottom-color: $secondary;
        padding: 2rem 4rem;
        transition: all .3s ease-in-out;
        &:active, &:focus, &.not-empty{
            border-top-color: $secondary;
            border-left-color: $secondary;
            border-right-color: $secondary;
            background-color: #fff;
            transition: all .3s .15s ease-in-out;
            &+.upper-title{
                top: -2rem;
                left: 0;
                font-size: 1.2rem;
                transition: all .3s ease-in-out;
            }
        }
    }
    textarea{
        resize: none;
        overflow: hidden;
        &:active, &:focus, &.not-empty{
            transition: none;
        }
    }
    .upper-title{
        position: absolute;
        left: 4rem;
        top: 2rem;
        color: $secondary;
        transition: all .3s .15s ease-in-out;
    }

    .text-notification{
        margin-top: .6rem;
        display: block;
        font-size: 1.2rem;
        opacity: 0;
        visibility: hidden;
        max-height: 0;
    }

    &.error{
        input{
            border-bottom-color: $primary;
            background-color: #fff6f6;
            &:active, &:focus, &.not-empty{
                border-top-color: $primary;
                border-left-color: $primary;
                border-right-color: $primary;
                background-color: #fff;
            }
            &::placeholder{
                color: $primary;
            }
        }
        .upper-title, .text-notification{
            color: $primary;
        }
        .text-notification{
            opacity: 1; 
            visibility: visible;
            max-height: 20rem;
        }
    }
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.select{
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1.6rem;
    .select-hidden{
        display: none;
    }
    .select-inner{
        position: relative;
        display: flex;
        align-items: center;
        border: 1px solid $border-color;
        padding: 1.6rem 6rem 1.6rem 3rem;
        font-size: 1.6rem;
        line-height: 1.5em;
        font-weight: 400;
        min-width: 26rem;
        cursor: pointer;
        transition: all .3s ease-in-out;
        z-index: 4;
        &::after{
            content: '';
            display: block;
            position: absolute;
            right: 3rem;
            background-image: url('../../img/icons/down-arrow.svg');
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            width: 1.5rem;
            height: 1.5rem;
            transition: all .3s ease-in-out;
        }
        &.active{
            &::after{
                transform: rotate(180deg);
            }
        }
        .desktop &{
            &:hover{
                border-color: $secondary;
            }
        }
    }
    .select-list{
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        right: 0;
        border: 1px solid $border-color;
        padding: 0;
        margin: 0;
        background-color: #fff;
        z-index: 2;
        opacity: 1;
        visibility: visible;
        transition: all .3s ease-in-out;
        max-height: 24rem;
        overflow-y: auto;
        z-index: 5;
        &.hidden-list{
            opacity: 0;
            visibility: hidden;
        }
        li{
            margin-bottom: 0;
            padding: 1.6rem 3rem;
            transition: all .3s ease-in-out;
            cursor: pointer;
            &::before{
                display: none;
            }
            .desktop & {
                &:hover{
                    background-color: $light-blue;
                }
            }
        }
    }
}


/*COLORS*/
.primary-color{
    color: $primary;
}

.primary-bg-color{
    background-color: $primary;
}

.primary2-color{
    color: $primary2;
}

.primary2-bg-color{
    background-color: $primary2;
}

.secondary-color{
    color: $secondary;
}

.secondary-bg-color{
    background-color: $secondary;
}

.secondary2-color{
    color: $secondary2;
}

.secondary2-bg-color{
    background-color: $secondary2;
}

.light-color{
    color: $light;
}

.light-bg-color{
    background-color: $light;
}

.dark-color{
    color: $dark;
}

.dark-bg-color{
    background-color: $dark;
}

.dark-grey-color{
    color: $dark-grey;
}

.dark-grey-bg-color{
    background-color: $dark-grey;
}

.grey-color{
    color: $grey;
}

.grey-bg-color{
    background-color: $grey;
}

.middle-grey-color{
    color: $middle-grey;
}

.middle-grey-bg-color{
    background-color: $middle-grey;
}

.middle-blue-color{
    color: $middle-blue;
}

.middle-blue-bg-color{
    background-color: $middle-blue;
}

.light-blue-color{
    color: $light-blue;
}

.light-blue-bg-color{
    background-color: $light-blue;
}


/*MARGIN*/

.m-tb-120{
    margin-top: 12rem;
    margin-bottom: 12rem;
}


.m-tb-80{
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.m-tb-60{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.m-tb-40{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.m-tb-20{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.m-tb-10{
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/*IMAGES*/

img{
    max-width: 100%;
    height: auto;
}

.cover{
    position: absolute;
    top: -100%;
    right: -100%;
    left: -100%;
    bottom: -100%;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
