/*COLORS*/

$font: "Open Sans", sans-serif;
$light: #fff;

$dark: #3b3b3b;
$dark-grey: #8f8989;
$grey: #e6e6e6;
$middle-grey: #c0cadd;
$light-blue: #e5f1fb;
$middle-blue: #F6F8FA;


$primary: #da1f3d;
$primary2: #DE3752;
$secondary: #003c71;
$secondary2: #1C5180;

$border-color: #E6E6E6;
$text-fields: #F6F8FA;
